<div class="position-relative my-auto" [ngStyle]="{'width': size + 'px', 'height': size + 'px'}">
  <img class="rounded-circle w-100 h-100" alt="Cinque Terre" [src]="user.img">
  <svg class="status" [ngStyle]="{'width': size / 4 + 'px', 'height': size / 4 + 'px'}" [attr.viewBox]="getViewBox()" xmlns="http://www.w3.org/2000/svg">
    <circle [attr.cx]="size / 8 + 'px'"
            [attr.cy]="size / 8 + 'px'"
            [attr.r]="(size / 8) - 1 + 'px'"
            stroke="black" stroke-width="1" fill="#00000000" [class]="user.status"/>
  </svg>
</div>
