<div class="row">
  <div class="col-auto d-flex">
    <img width="128" height="128" class="rounded-circle align-self-center" alt="Cinque Terre" src="{{user.img}}">
  </div>
  <div class="col">
    <div class="row h-50 d-flex">
      <span id="nickname" class="">{{user.name}}</span>

      <ng-container *ngIf="!oauthService.isMe(user)">
        <button class="btn btn-success btn-icon ml-auto mt-auto mb-1 btn-icon" (click)="directMessage()">
          <i class="bi bi-chat-fill"></i>
        </button>
        <button class="btn btn-{{userInfo.isFriend ? 'warning' : 'info'}} btn-icon ml-1 mt-auto mb-1" (click)="friend()">
          <i class="bi bi-person-{{userInfo.isFriend ? 'dash' : 'plus'}}-fill"></i>
        </button>
      </ng-container>
    </div>
    <div class="row h-50">
      <span class="dot" [ngStyle]="{'background-color': getStatusColor()}"></span>
      <span class="status" [ngStyle]="{'color': getStatusColor()}">{{userInfo.status}}</span>
      <ng-container *ngIf="!oauthService.isMe(user)">
        <button class="btn btn-warning ml-auto mb-auto mt-1 btn-icon" (click)="inviteGame()">
          <i class="bi bi-joystick"></i>
        </button>
        <button class="btn btn-{{userInfo.isBlocked ? 'warning' : 'danger'}} ml-1 mb-auto mt-1 btn-icon" (click)="block()">
          <i class="bi bi-x-octagon-fill"></i>
        </button>
      </ng-container>
    </div>
  </div>
  <div class="col">
    <div class="row h-50">
      <div class="col d-flex">
        <span class="my-auto"><b>Matches</b>: {{userInfo.wins}} of {{userInfo.games}}</span>
      </div>
      <div class="col d-flex">
        <span class="my-auto"><b>Rank</b>: {{userInfo.rankPoints}}</span>
      </div>
    </div>
    <div class="row h-50">
      <div class="col d-flex">
        <span class="my-auto"><b>Win Rate</b>: {{userInfo.wins / userInfo.games | percent}}</span>
      </div>
      <div class="col d-flex">
        <span class="my-auto"><b>Points</b>: {{userInfo.totalScore}}</span>
      </div>
    </div>
  </div>
</div>
