<div class="row">
  <div class="col-auto d-flex">
    <img width="128" height="128" class="rounded-circle align-self-center" alt="Cinque Terre" src="{{user.img}}">
<!--    <img width="64" height="64" class="rounded-circle align-self-center" alt="Cinque Terre" src="/assets/img.webp">-->
  </div>
  <div class="col">
    <div class="row h-50 d-flex">
      <span id="nickname" class="">{{user.name}}</span>
      <button *ngIf="!oauthService.isMe(user)" class="btn btn-{{userInfo.isFriend ? 'warning' : 'info'}} ml-auto mt-auto mb-1" (click)="friend()">
        <i class="bi bi-person-{{userInfo.isFriend ? 'dash' : 'plus'}}-fill"></i>
        {{userInfo.isFriend ? 'Remove' : 'Add'}} Friend
      </button>
    </div>
    <div class="row h-50">
      <span class="dot"></span>
      <span class="status">{{userInfo.status}}</span>
      <button *ngIf="!oauthService.isMe(user)" class="btn btn-{{userInfo.isBlocked ? 'warning' : 'danger'}} ml-auto mb-auto mt-1" (click)="block()">
        <i class="bi bi-x-octagon-fill"></i>
        {{userInfo.isBlocked ? 'Unblock' : 'Block'}}
      </button>
    </div>
  </div>
  <div class="col">
    <div class="row h-50">
      <div class="col d-flex">
        <span class="my-auto"><b>Matches</b>: {{userInfo.wins}} of {{userInfo.games}}</span>
      </div>
      <div class="col d-flex">
        <span class="my-auto"><b>Rank</b>: {{userInfo.rankPoints}}</span>
      </div>
    </div>
    <div class="row h-50">
      <div class="col d-flex">
        <span class="my-auto"><b>Win Rate</b>: {{userInfo.wins / userInfo.games | percent}}</span>
      </div>
      <div class="col d-flex">
        <span class="my-auto"><b>Total Score</b>: {{userInfo.totalScore}}</span>
      </div>
    </div>
  </div>
</div>
