<div class="h-100 d-flex justify-content-center align-content-center">
<!--  MAIN MENU -->
  <ng-container *ngIf="gameService.isMain(); else queueTemplate">
<!--    <button class="btn btn-primary m-auto" (click)="startGame()">Play Now</button>-->
    <div class="game-type rounded-circle" (click)="normalGame()">
      <img class="w-100 h-100 rounded-circle" src="assets/normal.png" alt="Normal Game">
      <div class="desc rounded-circle d-flex">
        <span class="m-auto">Normal Pong game</span>
      </div>
    </div>

    <div class="game-type rounded-circle" (click)="powerUpsGame()">
      <img class="w-100 h-100 rounded-circle" src="assets/powerups.png" alt="Power Ups">
      <div class="desc rounded-circle d-flex">
        <span class="m-auto">Pong with Power-Ups</span>
      </div>
    </div>
    <div class="game-type rounded-circle" (click)="showLiveGames()">
      <img class="w-100 h-100 rounded-circle" src="assets/live.png" alt="Power Ups">
      <div class="desc rounded-circle d-flex">
        <span class="m-auto">Watch live games</span>
      </div>
    </div>

  </ng-container>
<!--  QUEUE -->
  <ng-template #queueTemplate>
    <ng-container *ngIf="gameService.isQueue(); else gameTemplate">
      <div class="w-50 h-25 d-flex flex-column justify-content-center align-content-center m-auto queue p-5">
        <p class="queue-text text-center">QUEUE</p>
        <span class="text-center">{{getQueueTimer()}}</span>
        <button class="btn btn-primary mt-3" (click)="cancelQueue()">CANCEL</button>
      </div>
    </ng-container>
  </ng-template>
<!--  GAME -->
  <ng-template #gameTemplate>
    <ng-container *ngIf="gameService.isGame() || gameService.isGameOver(); else liveTemplate">
      <div class="position-relative bg-dark w-100 h-100">
        <div id="phaser" style="overflow: hidden; width: 100%; height: 100%;"></div>
        <button *ngIf="gameService.isGameOver()" class="btn btn-primary position-absolute m-auto" style="top: 10px; left: 10px"
          (click)="backToMain()">Back to main</button>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #liveTemplate>
    <div id="live-games" class="d-flex flex-column" >
      <ul class="list-group" style="overflow-y:auto;">
        <p *ngIf="gameService.liveGames.length === 0" class="mx-auto mt-3" style="color: #888b91">There is no games right now</p>
        <li class="list-group-item" *ngFor="let game of gameService.liveGames">
          <div class="row">
            <div class="col d-flex">
              <img [src]="game.imageUser1" class="avatar" alt="avatar">
              <span class="player-name">{{game.Players[0].username}}</span>
              <p class="m-auto">Vs</p>
              <span class="player-name">{{game.Players[1].username}}</span>
              <img [src]="game.imageUser2" class="avatar" alt="avatar">
            </div>
            <button class="btn btn-secondary " (click)="watchGame(game)">Watch</button>
          </div>
        </li>
      </ul>
    <button class="btn btn-outline-primary mx-auto px-5 mt-auto" (click)="backToMain()">Back</button>
    </div>
  </ng-template>
</div>
