.queue {
  background-color: #2b3031;
  border-radius: 1rem;
}

.queue-text {
  font-size: 24px;
  font-weight: bold;
}

.game-type {
  margin: auto;
  max-width: 25%;
  max-height: 256px;
  border-radius: 360px;
  //transition-delay: 200ms;
  transition: transform .7s ease-in;

}


.game-type:hover {
  transform: rotate(360deg);

}

#live-games {
  margin: auto;
  background-color: #2b3031;
  width: 75%;
  height: 75%;
  border-radius: 2rem;
}

.list-group-item {
  background-color: #2b3031;
  color: white;
}

.player-name {
  margin: auto;
  font-weight: bold;
  font-size: 16px;
}

.avatar {
  border-radius: 360px;
  width: 48px;
  height: 48px;
}
