<div class="h-100 d-flex justify-content-center align-content-center">
  <ng-container *ngIf="gameService.isMain(); else queueTemplate">
    <button class="btn btn-primary m-auto" (click)="startGame()">Play Now</button>
  </ng-container>
  <ng-template #queueTemplate>
    <ng-container *ngIf="gameService.isQueue(); else gameTemplate">
      <div class="w-25 h-25 d-flex flex-column justify-content-center align-content-center m-auto queue p-5">
        <p class="queue-text text-center">QUEUE</p>
        <span class="text-center">00:01</span>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #gameTemplate>
      <div id="phaser" style="overflow: hidden; width: 100%; height: 100%;"></div>
  </ng-template>
</div>
