.container {
  color: #555;
  border: 1px solid #55555555;
  margin: 5px 0;
}
//.row {
//  border: 1px solid;
//}
//
//.col {
//  border: 1px solid;
//}

.scores {
  font-weight: bold;
  font-size: 24px;
}

.victory {
  color: #009d36;
}
.defeat {
  color: #cc2e2e;
}

.score {
  font-weight: bold;
  font-size: 16px;
}

.player-name {
  font-weight: bold;
  font-size: 20px;
}
