<form class="row justify-content-center h-100" #twoFactorAuth="ngForm" (ngSubmit)="verify(twoFactorAuth)">
  <div class="col-6">
  <div class="d-flex flex-column dark-back p-4 align-items-center">
    <img width="128" height="128" src="/assets/key.svg" >
    <h3 class="mb-5">Two-Factor Authentication</h3>
    <label class="align-self-start mb-3">Enter Auth Code:</label>
    <input type="text" class="form-control input-dark" placeholder="6-digit authentication code" maxlength="6" name="twoFactorAuth" ngModel>
    <span *ngIf="twoFactorAuth.controls['twoFactorAuth']?.errors?.['error']" class="align-self-start mt-1 text-danger">
      {{twoFactorAuth.controls['twoFactorAuth']!.errors!['error']}}
    </span>
    <input type="submit" class="btn btn-primary w-100 p-2 mt-3">
  </div>
  </div>
</form>
