<!--<div class="container" >-->
<div class="container" [ngStyle]="{'background-color': isVictory() ? '#00D04E88' : '#F2585888'}">

  <div class="row px-3 pb-3">

    <!-- First Column-->

    <div class="col">

      <div class="row my-1">
        <span class="my-auto">{{ matchHistory.created_at | dateAgo}}</span>
      </div>

      <div class="row">
        <img width="64" height="64" class="rounded-circle" alt="Cinque Terre" onerror="this.src = 'assets/default.png'" [src]="matchHistory.firstPlayer.img">
        <span class="ml-4 my-auto player-name">{{matchHistory.firstPlayer.name}}</span>

      </div>

<!--      <div class="row h-25"></div>-->
    </div>

    <!-- Second Column-->

    <div class="col">

      <div class="row d-flex">
        <span class="m-auto" [ngClass]="isVictory() ? 'victory' : 'defeat'">{{isVictory() ? 'Victory' : 'Defeat'}}</span>
      </div>

      <div class="row h-50 score">
        <span class="m-auto">
          <span class="scores" [ngClass]="isVictory() ? 'victory' : ''">{{matchHistory.firstPlayerScore}}</span>
          vs
          <span class="scores" [ngClass]="!isVictory() ? 'defeat' : ''">{{matchHistory.secondPlayerScore}}</span>
        </span>
      </div>

      <div class="row h-25">
        <span class="m-auto" style="color:#555">{{matchHistory.isDefault ? 'Normal' : 'PowerUps'}}</span>
      </div>

    </div>

    <!-- Third Column-->

    <div class="col">

      <div class="row my-1">
        <span class="ml-auto">-</span>
      </div>

      <div class="row d-flex">
        <span class="my-auto ml-auto mr-4 player-name">{{matchHistory.secondPlayer.name}}</span>
        <img width="64" height="64" class="rounded-circle" onerror="this.src = 'assets/default.png'" alt="Cinque Terre" [src]="matchHistory.secondPlayer.img">
      </div>

    </div>
  </div>

</div>
