#code2FA {
  width: 180px;
  margin: 12px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


::ng-deep .error-tooltip .tooltip-inner {
  background-color: var(--danger) ;

}

::ng-deep .error-tooltip .arrow::before {
  border-top-color: var(--danger) ;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
