.container-fluid {
  height: 100%;
  margin-top: -51px;
  padding: 51px 0 0 0; /*set left/right padding according to needs*/

}

#content {
  /*max-width: 1024px;*/
  /*justify-content: center;*/
  /*display: flex;*/
  /*width: 100%;*/
  /*overflow: auto;*/
  /*height: 100vh;*/
}

.title {
  color: #9f7b0d;
}
.bi-check {
  border-radius: 360px;
  //background-color: var(--success);
  color: #27D54F;
  //width: 32px;
  //height: 32px;
  margin-left: 4px;
  transition-duration: 200ms;
}
.bi-check:hover {
  //color: var(--success);
  background-color: #27D54F;
  color: white;

}

.bi-x {
  border-radius: 360px;
  //background-color: var(--success);
  color: #ff3333;
  //width: 32px;
  //height: 32px;
  margin-left: 4px;
  transition-duration: 200ms;
}
.bi-x:hover {
  //color: var(--success);
  background-color: #ff3333;
  color: white;

}
