//@import "../../styles";
//@import "../../../node_modules/bootstrap/scss/functions";
//@import "../../../node_modules/bootstrap/scss/variables";

#logo {
  color: #daae51;
}

.navbar {
  //border-bottom: 1px solid black;
  //background-color: #e6e6e6;
  background: linear-gradient(to right, #6a3093, #a044ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to right, #360033, #0b8793);
  box-shadow: 0px -5px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-item {
  margin-bottom: 3px;
  transition-duration: 300ms;
}

.nav-link {
  color: var(--light);
  //text-shadow: 1px 1px #ffffff22;
  font-weight: 500;
  margin-bottom: 5px;
  transition-duration: 300ms;

}

//.nav-item .nav-link {
//
//}

.nav-item:hover:not(.active){
  //color: $light;
  background-color: rgba(255, 69, 69, 0.1);
  //border-radius: 50px;

  //color: var(--primary);
}

.nav-item.active .nav-link {
  color: var(--secondary);
}

.nav-item.active {
  margin-bottom: 0;
  border-bottom: 3px solid var(--secondary);
}
