//@import "../../styles";
//@import "../../../node_modules/bootstrap/scss/functions";
//@import "../../../node_modules/bootstrap/scss/variables";

.navbar {
  //border-bottom: 1px solid black;
  background-color: #e6e6e6;
  box-shadow: 0px -5px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-item {
  margin-bottom: 3px;
  transition-duration: 300ms;
}

.nav-link {
  color: var(--dark);
  font-weight: 500;
  margin-bottom: 5px;
  transition-duration: 300ms;

}

//.nav-item .nav-link {
//
//}

.nav-item:hover:not(.active){
  //color: $light;
  background-color: rgba(255, 69, 69, 0.1);
  //border-radius: 50px;

  //color: var(--primary);
}

.nav-item.active .nav-link {
  color: var(--primary);
}

.nav-item.active {
  margin-bottom: 0;
  border-bottom: 3px solid var(--primary);
}
