<div class="container  mt-3">
  <table class="table font-weight-bold">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Player</th>
        <th>Rank</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of topPlayers | async; index as i">
        <td class="col-1 text-center">{{i + 1}}</td>
        <td>
          <img [src]="user.img" class="rounded-circle mr-3" width="64" height="64" alt="">
          <span class="font-weight-bold">{{user.name}}</span>
        </td>
        <td>
          {{user.wins}}
        </td>
        <td>{{user.wins}}</td>
      </tr>
    </tbody>
<!--    <li class="list-group-item d-flex" *ngFor="let user of topPlayers | async">-->
<!--      <img [src]="user.img" class="rounded-circle" width="64" height="64">-->
<!--      <h2>{{user.name}}</h2>-->

<!--    </li>-->
  </table>
</div>
