<div class="row">
  <ng-template #chatterPopup>
    <chatter-popup [user]="message.sender" [popover]="p"></chatter-popup>
  </ng-template>

  <div class="img-frame mt-auto m-1" [ngbPopover]="chatterPopup"
       popoverClass="popover-dark" autoClose="outside" #p="ngbPopover" placement="auto">
    <img *ngIf="!isMine() && showAvatar()" class="rounded-circle my-auto" alt="Cinque Terre" [src]="message.sender.img">
  </div>

  <div class="chat-message" [ngClass]="[isMine(), marginBottom()]" [ngStyle]="borderRadius()"
       placement="left" [ngbTooltip]="message.timestamp | date:'MMM d, y \'a\'t h:mm a'"
       [openDelay]="500">
    {{ message.message }}
  </div>
<!--  <div class="col"></div>-->
</div>
