<ul class="list-group">
  <li class="list-group-item d-flex" *ngFor="let friend of friends | async">
    <div class="col d-flex" [ngbPopover]="chatterPopup"
         popoverClass="popover-dark" autoClose="outside" #p="ngbPopover" placement="left">
      <ng-template #chatterPopup>
        <chatter-popup [user]="friend" [popover]="p"></chatter-popup>
      </ng-template>
      <div class="avatar my-auto">
        <img class="rounded-circle w-100 h-100" alt="Cinque Terre" [src]="friend.img">
        <svg class="status" width="16" height="16" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16" cy="16" r="15" stroke="black" stroke-width="1" fill="#00000000" [class]="friend.status"/>
        </svg>
      </div>
      <span class="ml-2 my-auto">
            {{friend.name}}
      </span>
    </div>
    <button class="btn btn-outline-info" (click)="directMessage(friend)">Direct Message</button>
  </li>
</ul>
