<ul class="list-group">
  <li class="list-group-item d-flex" *ngFor="let friend of friends | async">
    <div class="col d-flex" [ngbPopover]="chatterPopup"
         popoverClass="popover-dark" autoClose="outside" #p="ngbPopover" placement="left">
      <ng-template #chatterPopup>
        <chatter-popup [user]="friend" [popover]="p"></chatter-popup>
      </ng-template>
<!--      <user-avatar-->
      <user-avatar [user]="friend" [size]="48"></user-avatar>
      <span class="ml-2 my-auto">
            {{friend.name}}
      </span>
    </div>
    <button class="btn btn-outline-info" (click)="directMessage(friend)">Direct Message</button>
  </li>
</ul>
