.queue {
  background-color: #2b3031;
  border-radius: 1rem;
}

.queue-text {
  font-size: 24px;
  font-weight: bold;
}

.game-type {
  position: relative;
  margin: auto;
  width: 25%;
  max-width: 256px;

  //padding-top: 100%;

  max-height: 256px;
  border-radius: 360px;
  //transition-delay: 200ms;
  transition: transform .7s ease-in;

}


.game-type:hover {

}

.desc
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //visibility: hidden;
  opacity: 0;
  background-color: #000000AA;
  font-weight: bold;
  transition: opacity 0.3s;
}

.desc:hover {
  opacity: 1;

}

#live-games {
  margin: auto;
  background-color: #2b3031;
  width: 75%;
  height: 75%;
  border-radius: 2rem;
}

.list-group-item {
  background-color: #2b3031;
  color: white;
}

.player-name {
  margin: auto;
  font-weight: bold;
  font-size: 16px;
}

.avatar {
  border-radius: 360px;
  width: 48px;
  height: 48px;
}
