<!--&lt;!&ndash;<router-outlet *ngIf="router.url.startsWith('/login'); else elseBlock"></router-outlet>&ndash;&gt;-->
<!--<div class="h-100 d-flex flex-column bg-yellow px-2">-->

<!--  <div class="flex-column justify-content-center bg-purple px-2">-->
<!--    <app-navbar *ngIf="oauthService.isAuthenticated()"></app-navbar>-->
<!--  </div>-->
<!--  <div class="flex-column justify-content-center bg-red text-white px-2 flex-grow-1 overflow-auto">-->
<!--  &lt;!&ndash;  <div class="row w-100">&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--    <div id="content" class="bg-warning">-->
<!--  &lt;!&ndash;    <div class="col-12" *ngIf="oauthService.isAuthenticated()" style="padding-top: 0;"></div>&ndash;&gt;-->
<!--      <div class="bg-primary">-->
<!--        <router-outlet class="bg-dark"></router-outlet>-->
<!--      </div>-->

<!--  &lt;!&ndash;    <app-chat *ngIf="oauthService.isAuthenticated()" style="width: 20%"></app-chat>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="flex-column justify-content-center bg-darkblue px-2">-->
<!--    <div class="text-white p-0" style="height:50px">FOOTER</div>-->
<!--  </div>-->

<!--</div>-->

<div class="container-fluid h-100">

  <div *ngIf="oauthService.reload || oauthService.isAuthenticated() === undefined; else login" class="d-flex h-100">
    <div class="m-auto">
      <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <ng-template #login>
    <ng-container *ngIf="oauthService.isAuthenticated() === false; else content">
      <router-outlet></router-outlet>
    </ng-container>
  </ng-template>
  <ng-template #content>
    <app-navbar></app-navbar>
    <div class="row w-100 h-100 m-0">
  <!--      <div class="col-lg h-100 bg-warning"></div>-->
  <!--      <div class="col-auto h-100 bg-danger"></div>-->
        <div class="col-lg overflow-auto p-2 h-100">
            <router-outlet></router-outlet>
        </div>
        <app-chat class="col col-lg-auto p-0 h-100" style=""></app-chat>
    </div>
  </ng-template>
</div>

<notifier-container></notifier-container>

<ng-template #gameInvite let-notification="notification">
  <div class="game-invite">
    <strong class="title">GAME INVITE:</strong> {{ notification.message }}
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check"
         viewBox="0 0 16 16" (click)="gameService.inviteResponse(notification.id, true)">
      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x"
         viewBox="0 0 16 16" (click)="gameService.inviteResponse(notification.id, false)">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </div>
</ng-template>
