<div class="container-fluid chat-container p-0">

<!-- Header -->

  <div id="header" class="row m-0">
    <h3 id="chat-back" class="bi bi-arrow-left-short mx-1 my-auto rounded-circle"
    (click)="back()"></h3>
    <img width="32" height="32" class="rounded-circle mr-2 my-auto" alt="Cinque Terre" src="/assets/img.webp">
    <b class="my-auto">{{ chat?.name }}</b>
    <h5 id="chat-settings" class="bi bi-gear-fill my-auto ml-auto mr-2"></h5>
  </div>

<!-- Messages -->

  <div id="content" #content>
    <div class="container">
      <div class="spinner-border d-flex mx-auto" role="status" *ngIf="loading; else messageTemplate">
        <span class="sr-only">Loading...</span>
      </div>

      <ng-template #messageTemplate>
        <ng-container *ngFor="let message of messages; let i = index;">
          <app-date *ngIf="isLateMessage(messages[i - 1], message)" [date]="message.timestamp"></app-date>
          <app-message
            [prev]="messages[i - 1]"
            [next]="messages[i + 1]"
            [message]="message"
          ></app-message>
        </ng-container>
      </ng-template>
    </div>
  </div>

<!-- Prompt -->

  <div id="prompt" class="w-100">
    <form class="row m-auto">
      <input type="text" class="form-control form-rounded col m-1" placeholder="Message">
<!--      <input type="submit" class="btn rounded-circle col-2">-->
      <button class="btn btn-primary rounded-circle m-1">
        <i class="bi bi-send"></i>
      </button>
    </form>
  </div>
</div>
