


$primary: #ff2828;
$secondary: #daae51;
$dark: #141517;
$light: #dce0e3;
//$secondary: #e6e6e6;
//@import "../node_modules/bootstrap/scss/bootstrap";
$body-bg: #e6e6e6;
$body-color: $light;

body {
  //background: red;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
//$body-bg: #e6e6e6;
//$white: #e6e6e6;

.smoked {
  background-color: $primary;
  border: solid black;
  width: 100px;
  height: 100px;
}

.popover-dark {
  background: aliceblue !important;
  font-size: 125% !important;
  background: var(--dark) !important;
  //max-width: 360px !important;
}


@import "../node_modules/bootstrap/scss/bootstrap";
