


$primary: #ff2828;
$secondary: #daae51;
//$primary: #daae51;
//$secondary: #ff2828;
$dark: #141517;
$light: #dce0e3;
//$secondary: #e6e6e6;
//@import "../node_modules/bootstrap/scss/bootstrap";
//$body-bg: linear-gradient(to right, #0F2027, #203A43, #2C5364, #2C5364, #203A43, #0F2027);
//$body-bg: #e6e6e6;
$body-color: $light;

body {
  //background: red;
  background: linear-gradient(to right, #6a3093, #a044ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to right, #360033, #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background: linear-gradient(90deg, #83a4d4 0%, #b6fbff 100%);
}
//$body-bg: #e6e6e6;
//$white: #e6e6e6;

.smoked {
  background-color: $primary;
  border: solid black;
  width: 100px;
  height: 100px;
}

.popover-dark {
  background: aliceblue !important;
  font-size: 125% !important;
  background: var(--dark) !important;
  //max-width: 360px !important;
}


@import "../node_modules/bootstrap/scss/bootstrap";
