
#modal-container {
  background-color: #181a1b;
  color: #a2a09b;
}

#modal-header button {
  color: #a2a09b;
}

#modal-header button:hover {
  color: #5e5858;
}

.modal-header, .modal-body, .modal-footer {
  border-color: #5e5858;
}

.modal-title {
  font-size: 26px;
}
