<form id="modal-container" #joinForm="ngForm" (ngSubmit)="joinRoom(joinForm)">
  <div class="modal-header bg-primary text-light">
    <p class="modal-title">{{room.name}}</p>
    <button type="button" class="close text-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body flex-column">
    <input type="password" name="password" required placeholder="Password" class="form-control bg-dark text-light" ngModel>
    <div *ngIf="joinForm.form.controls['password']?.errors?.['error']" class="text-danger mt-1" role="alert">
      {{joinForm.form.controls['password']?.errors?.['error']}}
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary m-auto w-25" [disabled]="!joinForm.valid">Join</button>
  </div>
</form>
